<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Introdução ao Openstack</title>

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/full-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'css/credits.css' %}" />


</head>

<body>

	<div class="wrapper">

	<div class="movie">Introdução ao Openstack</div>
	<div class="job">Roteiro</div>
	<div class="name">Carlos A. Parisotto</div>
	<div class="job">Produção</div>
	<div class="name">Carlos A. Parisotto</div>
	<div class="job">Efeitos Visuais</div>
	<div class="name">Carlos A. Parisotto</div>
	<div class="job">Direção</div>
	<div class="name">Carlos A. Parisotto</div>
	<div class="job">Piadas sem graça no meio da palestra</div>
	<div class="name">Carlos A. Parisotto</div>
	<div class="job">Apoio</div>
	<div class="name">Giovana Tedesco</div>
	<div class="job">Organização</div>
	<div class="name">Comissão do Tchelinux 2016</div>
	<div class="job">Essa tela tosca</div>
	<div class="name">Carlos A. Parisotto</div>

	</div>

</body>
</html>
