<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
</head>

<body>
	<img src=/{{ MEDIA_URL }}media/imagens/{{ imagem }}>

	{% if anterior %}
        <a href="/prints/{{ anterior }}" accesskey="n"></a>
	{% endif %}
	{% if proximo %}
        <a href="/prints/{{ proximo }}" accesskey="m"></a>
	{% endif %}

        <a href="/" accesskey="s"></a>
        <a href="/sobre/" accesskey="z"></a>
        <a href="/prints/1" accesskey="x"></a>
        <a href="/conclusao/" accesskey="c"></a>


</body>

</html>
