<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
</head>

<body>
	<img src=/{{ MEDIA_URL }}media/imagens/{{ imagem }}>

	{% if anterior %}
        <a href="/prints_wbg/{{ anterior }}" accesskey="n"></a>
	{% endif %}
	{% if proximo %}
        <a href="/prints_wbg/{{ proximo }}" accesskey="m"></a>
	{% endif %}

        <a href="/wbg/" accesskey="z"></a>
        <a href="/prints_wbg/1" accesskey="x"></a>
        <a href="/fontes_wbg/" accesskey="c"></a>
        <a href="/conclusao_wbg/" accesskey="v"></a>


</body>

</html>
